.post-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 600px; /* Add max-width property */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
  width: 100%;
}

#post-restaurant {
  font-weight: 700;
  color: "red";
}

#post-image {
  margin-bottom: 10px;
}

#post-username {
  margin-bottom: 10px;
}

#post-date {
  text-align: right;
  font-size: 14px;
}

#post-review {
  font-size: 20px;
}

#star {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

#rating {
  display: inline;
  font-size: 16px;
}

.vertical-center {
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}